@charset 'utf-8';

/* 1. mo tiny */
@media screen and (max-width: 360px) {
  html {
    font-size: 9px;
  }
}

/* 2. mo */
@media screen and (max-width: 767px) {}

/* 3. tb~ */
@media screen and (min-width: 768px) {
/* 헤더 */
.util-menu {
  font-size: 2rem;
}

.family-btn {
  height: 3.4rem;
  padding: 0 1.8rem;
}
/* 사이트맵 */
.sitemap-btn:before {
  font-size: 3rem;
}

/* 패밀리사이트 */
.family-site {
      height: calc(100% - 18rem);
}
.fm-list {
  width: 65%;

}
.fm-list:nth-child(2), .fm-list:nth-child(3) {
  width: 32%;
}



  /* 푸터 */
  .ft-logo{
  position: absolute;
  right: 16px;
  top: 0;
  width: 20%;
}
.ft-logo img{
  width: 100%;
}
.sns {
  position: absolute;
  right: 16px;
  top: 20%;
}
.youtube, .insta{
    width: 48px;
  height: 48px;
}

.gototop {
  right: 16px;
    top: inherit;
    bottom: 0;
}


}

/* 4. only tb */
@media screen and (min-width: 768px) and (min-width: 1279px) {}

/* 5. laptop 1280~ */
@media screen and (min-width: 1280px) {
  html {
    font-size: 16px;
  }

/* 헤더 */
  #pos-header {
  }

  .logo {
    width: 14rem;
  }

  #pos-gnb {
    display: block;
  }

  .depth1 {
    width: 10rem;
  }
  .util-menu {
    font-size: 1.4rem;
    align-items: center;
  }
  .util-menu *::before {
    font-size: 2.6rem;
  }
  .sitemap-btn:before {
    font-size: 3.5rem;
  }
  
  
  /* 푸터 */
  .ft-logo{
    right: 96px;
    width: 10%;
  }
  
.ft-wrap{
  padding-bottom: 6rem;
}
.ft-info {
  display: flex;
  gap: 4rem;
}

.sns {
  right: 96px;
}

.gototop {
  right: 96px;
}
.copy br {
  display: none;
}

/* 사이트맵 */
.whitebox {
  height: inherit;
  width: 90%;
  max-width: 180rem;
  padding: 6rem 4rem;
}
.close-btn {
  right: 4rem;
  top: 2rem;
}
.sm-depth1 > a:after{
  display: none;
}
.sm-depth2 {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  font-weight: normal;
}
.sm-depth2 li {
  width: 50%;
}
.sm-mo-gnb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sm-depth1 {
  width: 31%;
  padding: 3rem;
}

.last {
display: block;
background: url(../images/site_logo.png) center center / 80% no-repeat;
}

/* 패밀리 사이트 */
.fm-wrap {
  flex-wrap: nowrap;
}

.fm-list:nth-child(2), .fm-list:nth-child(3) {
  width: 45%;
}
.fm-depth1 {
  font-size: 2rem;
}
.fm-list a {
  font-size: 0.9em;
}
}

/* 6. laptop 1440~ */
@media screen and (min-width: 1440px) {
  .wrap {
    padding: 0 8rem;
  }

  .header-container {
    padding: 0 4rem;
  }
  


  .util-menu {
    gap: 2rem;
  }

}

/* 6. laptop 1920~ */
@media screen and (min-width: 1920px) {
    .depth1 {
    width: 14rem;
  }
}