@charset 'utf-8';
/* 1. 웹폰트 연결 */
@import url('webfonts.css');


/* 변수 */
:root {
  --primary-color: #0B1F3A;
  --primary-face: 'Pretendard Variable', sans-serif;
  --sub-face: 'Montserrat', sans-serif;
  --primary-font-color: #0A0B10;
  --point-font-color: #00457C;
  --grey-lt-color: #ddd;
  --grey-mm-color: #666;
  --primary-linear-grd: linear-gradient(155deg, var(--primary-color) 12%, #001835 70%);
  --google-icon: 'Material Symbols Outlined';
  --speed: 0.3s;
}



/* 2. 초기화 */
::selection {
  color: #fff;
  background: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  font-family: var(--primary-font-face);
  font-size: 1.7rem;
  color: var(--primary-font-color);
  line-height: 1.6;
  word-break: keep-all;
  overflow-x: hidden;
}

body:after { /* 모달창 */
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.9;
  content: '';
  z-index: 100;
}

body.fixed {
  overflow: hidden;
  position: fixed; 
}
body.fixed:after {
  display: block;
}

ol,
ul {
  list-style-type: none;
}

a {
  color: var(--primary-font-color);
  text-decoration: none;
}

img,
iframe,
video {
  vertical-align: middle;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  border: 1px solid #ddd;
  border-width: 0 1px 1px 0;
}

td:last-child,
th:last-child {
  border-right-width: 0;
}

iframe {
  border: 0;
}

input,
button {
  border: 0;
  font-size: 1em;
  font-family: var(--primary-face);
  color: var(--primary-font-color);
  background-color: transparent;
  vertical-align: middle;
}

/* button, input[type=submit], input[type=button], input[type=reset] {
  background-color: #ff0;
  } */

input:focus,
button:focus {
  outline: 0;

}

/* 3. 공용클래스 */
.wrap {
  /* 사이트 공통 너비 */
  max-width: 160rem; /* 1920 */
  margin: 0 auto;
  padding: 0 1.6rem;
}

.sound-only {
  position: absolute;
  left: -999em;
}

.wh,
.wh a {
  color: #fff;
}

.bk,
.bk a {
  color: #000;
}

.primary-color,
.primary-color a {
  color: var(--primary-color);
}

.primary-bg-color {
  background-color: var(--primary-color);
  color: #fff;
}

.pretendard {
  font-family: 'Pretendard Variable', sans-serif;
}

.round-box {
  margin: 48px 0;
  padding: 16px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border-radius: 24px;
  padding: 0 10px;
  border-radius: 25px;
  font-size: 0.9em;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  background-color: var(--primary-color);
}

.icon-btn:before, .icon-btn:after {
  font-family: var(--google-icon);
}

.btn-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.btn-arrow:before {
  content: '\e315';
  font-family: var(--google-icon);
}
.btn-blue {
  background-color: var(--primary-color);
  color: #fff;
}
.btn-wh {
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--primary-color);
}
.btn-bk {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}
.btn-line {
  border: 1px solid #fff;
}

.btn-pause:before {
  content: '\f137';
  font-family: var(--google-icon);
}

.btn-small {
  width: 3.2rem;
  height: 3.2rem;
}


/* 4.1 헤더 */
#pos-header {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  z-index: 100;
}
#pos-header.fixed {
  position: fixed;
  top: 0;
  background-color: #fff;
}
#pos-header.fixed .depth1>a {
  color: var(--primary-font-color);
}
#pos-header.fixed .depth1:hover>a {
  color: var(--point-font-color);
}
#pos-header.fixed .logo > a {
  background: url('../images/logo.png') left center / contain no-repeat;
}
#pos-header.fixed .sitemap-btn:before {
  color: var(--primary-font-color);
}

#pos-header a {
  transition: var(--speed);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
  width: 100%;
}

.logo {
  width: 13rem;
}

.logo a {
  display: block;
  padding-top: 30%;
  background: url('../images/logo_wh.png') left center / contain no-repeat;
}


/* GNB */
#pos-gnb {
  display: none;
}

.pos-gnb {
  display: flex;
}

.depth1 {
  position: relative;
  padding-top: 0.5rem;
}

.depth1>a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 5rem;
  font-size: 0.9em;
  font-weight: 500;
  padding-bottom: 0.5rem;
  color: #fff;
}

.depth1:hover>a {
  color: var(--point-font-color);
}

.depth2 {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 14% 12%;
  border-radius: 1.3rem;
  background-color: var(--point-font-color);
  font-size: 1.5rem;
}

.depth2 li {}

.depth2 a {
  display: block;
  padding: 0.3rem 0;
  color: #fff;
  opacity: 0.5;
}

.depth2 a:hover {
  opacity: 1;
}





/* 유틸메뉴 */
.util-menu {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
}

.family-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 1.8rem;
  background-color: var(--primary-color);
  color: #fff;
}

.sitemap-btn {}

.sitemap-btn:before {
  display: flex;
  align-items: center;
  content: '\e5d2';
  font-family: var(--google-icon);
  font-size: 2.4rem;
  color: #fff;
}



/* 다크모드일 때 */
#pos-header.dark-mode  {
  color: #fff;
}

#pos-header.dark-mode a,
#pos-header.dark-mode button {
  color: #fff;
}

#pos-header.dark-mode .logo a {
  /* background-image: url('../images/logoWh.svg'); */
}

/* 헤더에 배경색, 그림자 */
.bg #pos-header {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15);
}

.dark-mode.bg #pos-header {
  /* 클래스 두 개 다 들어갔을 때를 의미 */
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: none;
}

/* 푸터 */
#pos-footer {
  padding: 4.8rem 0;
  font-size: 1.5rem;
}
.ft-container {
  position: relative;
}
.ft-wrap {
}
.ft-info-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.ft-logo{
  width: 30%;
}
.ft-logo img{
  width: 100%;
}
.ft-policy {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.ft-policy a {
  position: relative;
  color: #111;
  font-weight: 700;
  padding: 0 1rem;
}
.ft-policy a:first-child {
  padding-left: 0;
}
.ft-policy a:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  width: 0.1rem;
  height: 1.4rem;
  background-color: #ddd;
  transform: translateY(-50%);
}
.ft-policy a:last-child:after {
  display: none;
}

.company-addr {}
.ft-info {
  color: #999;
}
.ft-info a {
  color: #999;
}
.ft-info div {
  display: flex;
  gap: 0.5rem;
}
.ft-info dt::after {
  content: ' :';
}
.ft-info dd {
}

.sns {
  display: flex;
  gap: 1em;
}
.sns div {
  padding-top: 1em;
}

.youtube, .insta{
  width: 32px;
  height: 32px;
}

.gototop {
  position: absolute;
  right: 16px;
  top: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background-color: #ddd;
}
.gototop:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.8rem;
  height: 0.8rem;
  border: 0.2rem solid #fff;
  border-width: 0.2rem 0.2rem 0 0 ;
  transform: translate(-50%, calc(-50% - 0.3rem)) rotate(-45deg);
}
.gototop:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.2rem;
  height: 40%;
  background-color: #fff;
  transform: translate(-50%, -50%);
}
.copy {
  padding-top: 1.6rem;
  color: #999;
}


/* 전체메뉴(사이트맵), 모바일 GNB */
.whitebox {
  position: fixed;
  left: 50%;
  top: 50%;
  width: calc(100% - 4.8rem);
  height: calc(100% - 4.8rem);
  padding: 6rem 2rem 0;
  background-color: #fff;
  border-radius: 4rem;
  z-index: 101;
  opacity: 0;
  transform: translate(-50%, calc(-50% - 100vh));
  transition: 0.6s;
}
.sitemap.active, .family-site.active {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 3rem;
}
.close-btn:before {
  content: '\e5cd';
}
.sm-mo-gnb {}
.sm-depth1 {
  padding: 2rem;
  margin: 2rem 0;
  background-color: #f2f2f3;
  border-radius: 1.2rem;
}
.last {
  display: none;
}

.sm-depth1 > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1;
}
.sm-depth1 > a:after {
content: '\e69b';
font-family: var(--google-icon);
font-size: 1.5em;
}
.sm-depth2 {
  display: none;
  padding: 1.2rem 0 0;
  font-size: 1.8rem;
  font-weight: 400;
}
.sm-depth2 li {
  display: inline-block;
  padding-right: 1.2rem;
  margin: 0.3rem 0;
}
.sm-depth2 a {
  color: var(--lt-font-color);
}


/* 패밀리 사이트 */

.family-site {
  /* display: none; */
  display: flex;
  flex-direction: column;
}
.fm-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  gap: 0.5em;
  max-height: 400px;
}
.fm-list {
  width: 100%;
    padding-bottom: 1em;
}
.fm-list:nth-child(2), .fm-list:nth-child(3) {
  width: 48%;
}
.fm-list:nth-child(2) li, .fm-list:nth-child(3) li {
  width: 100%;
}
.fm-depth1 {
  padding: 0.4em;
  width: 100%;
  height: inherit;
  border-radius: 1rem;
  background: #f1f1f1;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-color);
}
.fm-depth2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.fm-list li {
  width: 50%;
  text-align: center;
  padding-top: 0.5em;
}
.fm-list a {
  font-size: 0.9em;
}